@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  
  background: #FF2E00;
  padding: 26px;
  
  border-radius: 50%;
  color: white !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  background: #FF2E00;
  padding: 26px;
  border-radius: 50%;
  color: white !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  display: none;
}
input:checked {
  background-color: #22c55e; /* bg-green-500 */
}

input:checked ~ span:last-child {
  --tw-translate-x: -3.75rem; /* translate-x-7 */
}
.swiper-slide img{
  border: 4px solid #CBE337;
  border-radius: 50%;
  padding: 5px;
}


